arrow==0.17.0
attrs==20.3.0
binaryornot==0.4.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorlog==4.6.2
cookiecutter==1.7.2
deprecation==2.1.0
future==0.18.2
h5py==3.1.0
idna==2.10
Jinja2==2.11.2
jinja2-time==0.2.0
kipoi==0.6.29
kipoi-conda==0.2.2
kipoi-utils==0.3.8
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.4
pandas==1.1.4
poyo==0.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.4
PyYAML==5.3.1
related==0.7.2
requests==2.24.0
six==1.15.0
text-unidecode==1.3
tinydb==4.2.0
tqdm==4.51.0
urllib3==1.25.8
